Faker==19.11.0
celery==5.3.4
django-debug-toolbar==4.2.0
django-filter==23.3
djoser==2.2.0
drf-spectacular==0.26.5
pip-autoremove==0.10.0
psycopg2-binary==2.9.9
pytest-django==4.5.2
python-dotenv==1.0.0
pytils==0.4.1
redis==5.0.1
Django==4.2.6
djangorestframework==3.14.0
